{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@modules": "./src/modules",
          "@config": "./src/config",
          "@docs": "./src/docs",
          "@shared": "./src/shared",
          "@utils": "./src/utils"
        }
      }
    ],
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ],
  "ignore": ["**/*.spec.ts"]
}
